[Unit]
Description=Tomcat 9 servlet container
After=network.target

[Service]
Type=forking

User=root
Group=root

Environment="JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64"
Environment="JRE_HOME=/usr/lib/jvm/java-11-openjdk-amd64"
Environment="JAVA_OPTS=-Djava.security.egd=file:///dev/urandom -Djava.awt.headless=true"

Environment="CATALINA_BASE=/etc/tomcat/apache-tomcat-9.0.45"
Environment="CATALINA_HOME=/etc/tomcat/apache-tomcat-9.0.45"
Environment="CATALINA_PID=/etc/tomcat/apache-tomcat-9.0.45/temp/tomcat.pid"
Environment="CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC"

ExecStart=/etc/tomcat/apache-tomcat-9.0.45/bin/startup.sh
ExecStop=/etc/tomcat/apache-tomcat-9.0.45/bin/shutdown.sh

[Install]
WantedBy=multi-user.target