<com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl plugin="credentials@2.3.15">
  <scope>GLOBAL</scope>
  <id>gitncsucred</id>
  <description></description>
  <username>{{ lookup('env', 'GH_USER') }}</username>
  <password>{{ lookup('env', 'GH_PASSWORD') }}</password>
</com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
